.app__AddPackagemodal {
  padding: 1.5rem;

  .title {
    display: flex;
    place-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    h2 {
      span {
        &:nth-child(1) {
          font-weight: 700;
        }
        &:nth-child(2) {
          font-size: 1.2rem;
        }
      }
    }

    
  }

  div {
    .field {
      display: flex;
      place-items: center;
      gap: 0.7rem;
      margin-bottom: 1.7rem;

    

      &.amount input::-webkit-inner-spin-button,
      &.amount input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input {
        font-size: 1.1rem;
        height: 1.5rem;

      
      }
      select {
        font-size: 1.2rem;
      }
    }

    .amount {
      div {
        display: flex;
        place-items: center;
      }

      input {
        width: 2.7rem;
        text-align: center;
        height: 1.5rem;
      }

      .increment {
        border-radius: 10px 200px 200px 10px;
        -moz-border-radius: 10px 200px 200px 10px;
        -webkit-border-radius: 10px 200px 200px 10px;
      }

      .decrement {
        border-radius: 200px 0px 10px 200px;
        -moz-border-radius: 200px 0px 10px 200px;
        -webkit-border-radius: 200px 0px 10px 200px;
      }
    }
  }

  .age {
    select {
      width: 10.5rem;
      height: 3vh;
    }

    input {
      width: 10.5rem;
      height: 3vh;
      font-size: 1rem;

      &::placeholder {
        color: var(--gray-color);
      }
    }
  }

  .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    place-items: center;

    h3 {
      color: var(--primary-color);
    }

    button {
      background-color: var(--green-color);
      border: none;
      color: var(--primary-color);
      font-size: 1.1rem;
      border-radius: 7px;
      height: 3rem;
      width: 5rem;
      text-transform: uppercase;
      font-weight: 900;
      cursor: pointer;

    
    }
    .submit-disabled {
      background-color: var(--gray-color);
    }
  }
  .destination {
    margin-bottom: 1.5rem;
    margin-top: -1rem;
    margin-left: 1.1rem;
    cursor: pointer;

    &:hover {
      color: var(--primary-color);
    }
  }
  .existing {
    color: var(--primary-color);
  }
  .package-warning {
    margin-bottom: 1.5rem;
    margin-top: -1.5rem;
    margin-left: 1.1rem;
    color: var(--red-color);
  }
  .no-display {
    display: none;
  }
}
