.app__orders {
  margin: 8rem auto 0;

  @media screen and (max-width: 768px) {
    margin-top: 6rem;
  }

  .results {
    width: 90%;
    margin-inline: auto;
    .heading {
      text-align: center;
      color: var(--primary-color);
    }

    .underline {
      width: 2rem;
      height: 2px;
      background-color: var(--primary-color);
      margin: -0.3rem auto 4rem;
    }

    .table-head {
      width: 100%;
      display: grid;
      grid-template-columns: 2.3fr 1.1fr 2fr 1.1fr 1fr;

      font-weight: 400;
      font-size: 1.3rem;
      margin-bottom: 1.2rem;
      @media screen and (max-width: 768px) {
        font-size: 1rem;
      }
    }

    .frame {
      border-top: 3px solid var(--gray-color);
      border-bottom: 3px solid var(--gray-color);
      height: 25rem;
      overflow-y: auto;
    }

    .order {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
