.app__no_orders {
    
    button {
        width: 100%;
        text-align: center;
        background-color: var(--green-color);
        border: none;
        cursor: pointer;
        color: var(--primary-color);
        border-radius: 7px;
        text-transform: uppercase;
        font-weight: 700;
        }

   
}