.app__checkout {
  margin-top: 7rem;
  width: 90%;
  margin-inline: auto;

  @media screen and (max-width: 768px) {
    margin-top: 6rem;
  }

  .package-name {
    text-align: center;
    color: var(--primary-color);
  }

  .underline {
    width: 2rem;
    height: 2px;
    background-color: var(--primary-color);
    margin: -.1rem auto 1rem;
  }

  .table-head {
    width: 100%;
    display: grid;
    grid-template-columns: 2.3fr 1.1fr 2fr 1.1fr 1fr;
    font-weight: 500 !important;
    font-size: 2rem;

    place-items: center;
    align-items: center;
    @media screen and (max-width: 768px) {
      font-size: 1rem;
    }
  }

  .frame {
    border-top: 3px solid var(--gray-color);
    border-bottom: 3px solid var(--gray-color);
    height: 25rem;
    overflow-y: auto;    
  }

  .footer {
    margin-top: 1.3rem;

    .price-card {
      display: grid;
      grid-template-columns: 3fr 2fr;
      grid-template-rows: 3fr 5fr;
      border: 1px solid var(--gray-color);
      border-radius: 7px;
      padding: 1.2rem;
      box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.75);

      h3 {
        font-size: 1.5rem;
      }

      .price {
        font-weight: 500;
        text-align: right;
        font-size: 1.3rem;
      }

      .grand-total {
        font-weight: 900;
        font-size: 1.3rem;
        color: var(--primary-color);
      }
    }
  }

  .footer-checkout {
    margin: 1.3rem 0 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      width: 10rem;
      height: 4rem;
      text-transform: uppercase;
      color: var(--primary-color);
      background: var(--green-color);
      font-weight: 1000;
      border: none;
      cursor: pointer;
      border-radius: 7px;
      font-size: 1.3rem;
    }
  }
}

.delivery_details {
  .input-warning {
    input {
      &:focus {
        outline-color: var(--red-color);
      }
    }
  }

  .input-ok {
    input {
      &:focus {
        outline-color: var(--success-color);
      }
    }
  }

  .usernameInput {
    display: none;
  }

  .county {
    margin-top: 15px;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    gap: 60px;

    .mantine-Input-input {
      @media screen and (min-width: 600px) {
        width: 35vw !important;
      }
    }
  }

  .area {
    margin-top: 15px;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    gap: 80px;

    .mantine-Input-input {
      @media screen and (min-width: 600px) {
        width: 35vw !important;
      }
    }

    .info {
      opacity: 0.4;
      width: 20px;
      height: 20px;
    }
  }

  .landmark {
    margin-top: 15px;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    gap: 40px;

    .mantine-Input-input {
      @media screen and (min-width: 600px) {
        width: 35vw !important;
      }
    }

    .info {
      opacity: 0.4;
      width: 20px;
      height: 20px;
    }
  }
}
