.app__category {
    margin-top: 10rem;

    @media screen and (max-width: 768px) {
        margin-top: 6rem;
        
    }
}

.spinner {
    height: 80vh;
    display: flex;
    place-items: center;
    justify-content: center;
    color: var(--primary-color);
}