.app__footer {
    width: 100%;
    height: auto;
    margin-top: 10rem;
    background-color: var(--green-color);
    display: flex;
    flex-direction: column;
    .upper-section {
        display: flex;
        align-items: center;
        padding: 2rem 2rem 0 2rem;
    
        .footer-card {
            display: flex;
            flex-direction: column;
            padding: 0 0 0 4rem;
            width: 50%;

            @media screen and (max-width: 768px) {
                padding-left: 0.5rem;
            }
    
            h3{
                color: var(--lightGray-color);
                text-decoration: underline;
                font-size: 1.5rem;
                @media screen and (max-width: 768px) {
                    font-size: 1rem;
                }
            }
    
            div {

                ul {
                    list-style-type: none;
                    color: var(--lightGray-color);
                    font-size: 1.2rem;
                    @media screen and (max-width: 768px) {
                        font-size: 0.9rem;
                    }
                    
                    li {
                        padding: 0.5rem 0 0.5rem;
                        a {
                            text-decoration: none;
                            color: inherit;
                        }
                    }
                }
            }
    
            .payment-methods {
                margin-top: 1rem;
                div {
                    display: flex;
                    align-items: center;
                    gap: 1.3rem;
                }    
            }
    
            .socials {
                margin-top: 3rem;
                div {
                    margin-top: 1rem;
                    display: flex;
                    align-items: center;
                    gap: 1.3rem;
                }
            }
        }
    
        .horizontal-line {
            border-right: 1px solid var(--primary-color);
        }
    
    }

    .lower-section {
        margin-top: 1.3rem;
        p{
            color: var(--primary-color);
            font-size: 1.4rem;
            font-weight: 800;
            text-align: center;

            @media screen and (max-width: 768px) {
                font-size: 1.2rem;
            }
        }
    }

    img {
        @media screen and (max-width: 768px) {
            width: 2rem;
            height: 2rem;
        }
    }

}
