.app__prodcutDetails {
  .table-body {
    display: grid;
    grid-template-columns: 2.3fr 1.1fr 2fr 1.1fr 1fr;
    align-items: center;
    place-items: center;
    height: 5rem;

    @media screen and (max-width: 768px) {
    }

    .product-name {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      // gap: 1rem;

      @media screen and (max-width: 768px) {
        gap: 0;
      }
    }

    .amount {
      display: flex;
      place-items: center;

      @media screen and (max-width: 768px) {
        flex-basis: 30rem;
      }

      input {
        width: 2.7rem;
        height: 1.5rem;
        border: none;
        text-align: center;
        font-size: 1.2rem;

        @media screen and (max-width: 768px) {
          width: 2.2rem;
        }
      }
      button {
        padding: 0.4rem;
        border-radius: 50%;
        text-align: center;
      }

      &.amount input::-webkit-inner-spin-button,
      &.amount input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    .price {
      flex-basis: 9rem;

      @media screen and (max-width: 768px) {
        flex-basis: 17rem;
      }
    }
  }
}
