.app__loginSignUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .message {
        font-weight: 800;
        font-size: 1.3rem;
        color: #a83e4e;
        

    }

    .body {
        grid-area: loginSignUp;
        width: 40rem;
        height: auto;
        border: 1px solid var(--gray-color);
        border-radius: 7px;
        box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);

        @media screen and (max-width: 768px) {
            width: 30rem;  
        }

        .navigators {
            display: flex;
            justify-content: center;
            gap: 10rem;
            height: 9rem;
            text-transform: uppercase;
            align-items: center;
            font-size: 1.5rem;
            
            
            h3 {
                cursor: pointer;
                position: relative;      
            }

            .active{
                color: var(--primary-color);
                &::after{
                    content: '';
                    width: 2.2rem;
                    height: 2px;
                    bottom: -2px;
                    left: 2rem;
                    position: absolute;
                    background-color: var(--primary-color);
                }
            }

        }

        form {
            width: 80%;
            margin: 0 auto  3rem;
            height: inherit;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 1.3rem;
                height: 2rem;
                

                img {
                    opacity: 0.3;
                    border: 2px solid var(--gray-color);
                    height: inherit;
                    padding: 0 1rem 0 1rem;

                    &:focus {
                        outline: var(--primary-color);
                        border: 2px solid var(--green-color);
            
                    }
                }

                input {
                    border: 1px solid var(--gray-color);
                    width: 100%;
                    height: inherit;
                    font-size: 1.2rem;
                    padding-left: 1rem;
                }

                p {
                    border: 1px solid var(--gray-color);
                    height: 2rem;
                    text-align: center;
                }
            }

            button {
                width: 100%;
                height: 3rem;
                text-transform: uppercase;
                background-color: var(--green-color);
                color: var(--primary-color);
                font-size: 1.4rem;
                font-family: var(--font-base);
                font-weight: 700;
            }
        }
    
    }
}   

.login-only {
    width: 100%;
    height: 100vh;
    background-color: var(--white-color);
    
}

.text-danger {
    font-weight: 600;
    font-size: 1rem !important;
    color: var(--red-color);
    font-size: 1.2rem;
}

.input-warning {
    input {
        &:focus{
            outline-color: var(--red-color);
        }
    }
}

.input-ok {
    input {
        &:focus{
            outline-color: var(--success-color);
        }
    }
}

.mobile-number {
    border: 1px solid var(--gray-color);
    border-right: none;
    padding: 5px 7px;
    height: 2rem;
    font-size: 1.3rem;
}

